.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-cont {
  text-align: center;
  align-items: baseline;
  flex-wrap: nowrap;

  @include max-tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include desktop {
    display: flex;
  }
}

.footer-thumb {
  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  @include max-tablet {
    &:not(:last-child) {
      width: calc(50%);
    }
  }

  &:last-child {
    width: calc(100%);
  }
}

@include desktop {
  .footer-adr {
    min-width: 231px;
    text-align: left;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-list li + li {
  margin-top: 8px;

  @include desktop {
    margin-top: 9px;
  }
}

.footer-adress {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  font-style: normal;

  // transition: color var(--transition-duration) var(--timing-function);

  // &:hover,
  // &:focus {
  //   color: var(--accent-color);
  // }
}

.footer-contact {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color var(--transition-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

@include desktop {
  .footer-social {
    margin-left: 70px;
    text-align: left;
  }
}

.footer-soc-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 60px;

  @include tablet {
    margin-top: 0;
  }
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-soc-icon {
  fill: var(--primary-white-color);
}
