.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container.footer-cont {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-list li + li {
  margin-top: 9px;
}

.footer-adress {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  font-style: normal;
  // transition: color var(--transition-duration) var(--timing-function);

  // &:hover,
  // &:focus {
  //   color: var(--accent-color);
  // }
}

.footer-contact {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color var(--transition-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-social {
  margin-left: 70px;
}

.footer-soc-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
}

.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-soc-icon {
  fill: var(--primary-white-color);
}
