.current-filter {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.portfolio-filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-filter li + li {
  margin-left: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
  height: 404px;
}

.portfolio-link {
  transition: box-shadow var(--transition-duration) var(--timing-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06);
}

.portfolio-link {
  display: block;
  text-decoration: none;
  color: var(--main-title-color);
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(101%);
  transition: transform var(--transition-duration) var(--timing-function);
}

.portfolio-link:hover .portfolio-top-text,
.portfolio-link:focus .portfolio-top-text {
  transform: translateY(0%);
}

.text-box {
  padding: 20px 24px;
  background-color: var(--primary-white-color);
  border: 1px solid #eeeeee;
}

.portfolio-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-direction {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
