.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
  transition: opacity var(--transition-duration) var(--timing-function),
    visibility var(--transition-duration);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: scale(1);
  transition: transform var(--transition-duration) var(--timing-function);

  .backdrop.is-hidden & {
    transform: scale(0.1);
  }
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--primary-white-color);
  outline: none;

  &:hover .close-icon,
  &:focus .close-icon {
    fill: var(--accent-color);
  }
}

.close-icon {
  transition: fill var(--transition-duration) var(--timing-function);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 12px;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
