body {
  font-family: Roboto, Tahoma, sans-serif;
  background-color: var(--primary-white-color);
  color: #212121;
  font-size: 14px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
